* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navbar css*/
nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:indianred;
    font-size: 15px;
    border-bottom: 3px solid rgb(93, 131, 201);
}

 .logo {
    color: rgb(215, 210, 210);
    text-transform: uppercase;
    letter-spacing: 4px;
 }
 span {
    color: rgb(93, 131, 201);
 }

 .nav-link {
    display: flex;
    justify-content: space-around;
    width: 30%;    
 }

 .nav-link li {
    list-style: none;
 }

 .nav-link a {
    color: beige;
    text-decoration: none;
    
 }

 .nav-link a:hover{
   color: rgb(31, 202, 229);
 }
/*End Of Navbar css*/


/* Banner css*/
.banner{
   width: 100%;
   height: 100vh;
   background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/image1.jpg);
   background-size: cover;
 } 

 .content {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

  .cont-text {
   text-align: center;
 }

 .cont-text h2{
   font-size: 50px;
   color: #fff;
 }

 .cont-text p{
   color: white;
   margin: 0 10%;
 }

 /* End Of Banner css*/


 .search {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: indianred;
   padding: 10px 20px;
   gap: 0;
 }

 form {
   padding: 5px;
 }

 .search-area {
   border: none;
   padding: 5px;
   font-size: 15px;
 }

 h4 {
   color: whitesmoke;
   padding-left: 50px;
   font-weight: bold;
 }

 button {
   cursor: pointer;
   text-decoration: none;
   background-color: rgb(93, 131, 201);
   border: none;
   padding: 5px;
   font-size: 15px;
   font-weight: bold;
   color: #fff;
 }



 /* container style */

 .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
text-align: center;
   padding: 70px 50px;
   margin: 20px;
 }

 .container-area {
   padding: 20px
   ;
 }

 .container p, h3 {
   padding-top: 20px;
 }


 /* About css*/
 .boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
 }

 .box1 {
  flex: 2;
  padding: 10px;
  margin: 20px;
  top: 20px;
 }

 .box1 h2 {
  margin-bottom: 5%;
 }
 .box1 p {
padding-top: 0;
 }

 .box2 {
  flex: 1;
  background:  indianred;
  padding: 10px;
  padding-bottom: 10px; 
  margin: 30px 0px 50px;
  color: aliceblue;

 }

 .sub-box {
  background:  indianred;
  margin-top: 10px;
  padding: 10px;
  color: rgb(206, 215, 215);
 }
/* End of About css*/



/* Services css*/
.services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.subtext{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15%;
}

.textbox {
  border: 1px solid rgb(222, 216, 216);
  background: rgb(222, 217, 217);
  margin: 1px;
  padding: 20px;
}

.main-services h1 {
  margin: 30px;
  font-size: medium;
}

.textbox2{
  background: indianred;
  padding: 20px;
  margin-left: 6%;
  color: rgb(239, 233, 233);
  margin-bottom: 40%;
}

.service-btn {
background-color: coral;
margin: 10px;
margin-right: 70%;
padding: 3px;
border-radius: 2px;

}

.service-btn a {
text-decoration: none;
font-weight: bold;
color: #fff;
font-size: 15px;
}
 
 /* footer css */
 .footer{
   font-size: 20px;
   text-align: center;
   color: whitesmoke;
   background-color:rgb(93, 131, 201);
   padding: 20px;
 }